# Compiled object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# Logs
*.log

# Folders to ignore
build/
bin/
tmp/

# Backup files
*.bak
*.old
*.orig
*.save

# MacOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows specific files
Thumbs.db
ehthumbs.db

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

checker_Mac
